@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
}
.logo{
  width: 100px;

}
.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  display: flex;
  padding: 8px 32px;
  justify-content: space-between;
  align-items: center;
  background:#ffffff;
  background-size:100% 300% ;


}
.header ul {
  display: flex;
  align-items: center;
  gap: 16px;

}
.header ul li {
  list-style: none;

}
.header ul li a {
  text-decoration: none;
}
.main {
  padding: 16px 32px;

}
.banner {
  background-image:linear-gradient(rgba(0, 22, 18, 0.712),rgba(0, 31, 14, 0.192)), url(./assets/banner.jpg) ;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  display: flex;
  padding: 16px 32px;
  color: rgb(229, 241, 241);
  gap: 32px;
  box-shadow: #0324314b 0px 5px 10px;
  border-radius: 8px;
}
.banner div{
  flex: 1;
  /* border: solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.banner div img {
  width: 150px;
  align-self: end;
  transform: translateX(-50%);
  animation: updown 3s ease-in-out 0s infinite forwards ;
}
.row2 {
  display: flex;
  justify-content: space-around;
  gap: 32px;
  
  
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 16px;
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 7px 10px 0px rgba(59, 65, 73, 0.295);
  height: fit-content;

}
.card .cover{
  height: 100px;
  overflow: hidden;    
}
.card .cover img{
  width: 100%;

}
.caption{
  padding:16px;
}
.footer{
  height: 100px;
  position: relative;
  background:radial-gradient(#09805c,#032431);
  background-size:100% 300% ;
  background-position-y: bottom;
  color: #ffffff;
  padding: 16px;
  display: flex;
  justify-content: center;

}
.footer>div{
  flex: 1;
}
.btn{
  @apply px-4 py-2 rounded-md 
}
@media (max-width:600px) {
  .main {
      padding: 8px 15px;
  }
  .banner div:last-of-type{
      display: none;
  }
  .row2{
      flex-direction:column;
      height: auto;
  }
  .row2>div{
      width: auto;
  }
}

@keyframes updown {
  0% {
      transform: translateY(20px);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(20px);
  }
}